@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #172019;

  --surface: #ffffff;
  --surface-soft: #f1eee6;
  --muted: #f1eee6;
  --muted-foreground: #626961;

  --border: #dfddd5;

  --primary: #223441;
  --primary-hover: #223441;
  --primary-foreground: #ffffff;

  --accent: #c79a5b;

  --ring: #223441;
}

@theme inline {
  --font-sans: var(--font-poppins), Arial, Helvetica, sans-serif;

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-surface: var(--surface);
  --color-surface-soft: var(--surface-soft);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-border: var(--border);

  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-primary-foreground: var(--primary-foreground);

  --color-accent: var(--accent);

  --color-ring: var(--ring);
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

@keyframes scroll-indicator {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(1rem);
  }
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}
